[submodule "submodules/vim-surround"]
	path = .submodules/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "submodules/popup.nvim"]
	path = .submodules/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "submodules/plenary.nvim"]
	path = .submodules/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "submodules/telescope.nvim"]
	path = .submodules/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "submodules/nvim-treesitter"]
	path = .submodules/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "submodules/nvim-lspconfig"]
	path = .submodules/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "submodules/nvim-jdtls"]
	path = .submodules/nvim-jdtls
	url = https://github.com/mfussenegger/nvim-jdtls
[submodule "submodules/nvim-dap"]
	path = .submodules/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
