[submodule "sub/packer.nvim"]
	path = sub/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "sub/tpm"]
	path = sub/tpm
	url = https://github.com/tmux-plugins/tpm
